/*botao foda*/
.Btn {
    width: 260px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    font-size: larger;
  }
  
  .svgIcon {
    width: 16px;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .Btn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  }
  
  .Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  .Btn:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }

/* Tenis */
.tenis-titulo{
    padding: 2rem 7rem;
    background-color: #d9d9d9;
}

.tenis-card2{
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.card-info{
    background-color: lightgray;
}

.card-info2{

    background-color: lightgray;
    padding: 3rem 10rem;
    
    margin-left: 50px;
    margin-top: 40px;
}

.card-info2 h3{
    font-weight: 900;
    color: black;
}

.card-info2 p{
    font-weight: bold;
    color: gray;
}

.tenis-image{
    margin-bottom: 0%;
}
.embaixo{
    color: black;
    font-size: larger;
    background-color: lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid white;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
}
.embaixo a{
    margin-left: 17%;
    font-size: large;
    font-weight: bold;
}
.menos{
   margin-left: 19%;
   height: 25px;
   width: 25px;
}
.mais{
    margin-left: 17%;
    height: 25px;
    width: 25px;
}
.separacao{
    padding: 1rem 0rem;
}

.embaixodoembaixo{
    
    background-color: lightgray;
    text-decoration: none;
    display: inline-block;
    width: 450px;
    height: 150px;
    margin-left: 50px;
    font-size: xx-large;
}
.embaixodoembaixo h4{
    color: black;
    display: inline-block;
    margin-left: 15%
}
.embaixodoembaixo p{
    color: gray;
    display: inline-block;
    margin-top: 50px;
    margin-left: 5px;
}

.obanner{
    display: inline-block;
    color: #d9d9d9;
    margin-top: 6%;
    margin-left: 15%;
}