* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


    /* MENU */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
}

.menu-hamburguer{
    display: none;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar a{
    margin: 0 0.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar a:hover{
    color: lightgrey;
}

.btn-buscar{
    margin: 0 0 0 0.5rem;
    padding: 0.5rem;
    background-color: cornflowerblue;
    border-radius: 10px;
    border: 1px solid lightgray;
    color: white;
    font-weight: bold;
    text-align: center;
}

.menu-img{
    width: 70%;
}

    /* BANNER 1 */
.banner-1{
    width: 100vw;
    height: 55vh;
    background-position: center;
    background-image: url("./imagens/banner-1.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn-ver{
    margin: 0 0 2rem 0;
    color: black;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size: 1.15rem;
}

.btn-ver a{
    text-decoration: none;
    color: black;
}

.btn-ver:hover{
    background-color: lightgray;
}

.btn-ver:active{
    background-color: white;
}

/* Tenis */
.tenis{
    padding: 2rem 7rem;
}

.tenis-titulo{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 2rem;
}

.tenis-article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tenis-card{
    background-color: lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid white;

    text-decoration: none;
}

.card-info{
    padding: 1rem;
}

.card-info h3{
    font-weight: 900;
    color: black;
}

.card-info p{
    font-weight: bold;
    color: gray;
}

/* BANNER 2 */
.banner-2{
    width: 100vw;
    height: 55vh;
    background-position: center;
    background-image: url("./imagens/banner-2.png");
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* CONHEÇA TAMBÉM */
.conheca, .conheca-cards{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 1rem 1rem 1rem 5rem;
}

.conheca a{
    margin: 0 1rem;
}

.conheca-titulo{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

/* RODAPÉ */
.rodape{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #808080;
    color: white;
    font-weight: bold;
}

.rodape-secao{
    width: 20vw;
}

.rodape-secao a{
    display: block;
    margin: 1rem 0;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.rodape-secao-redes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -1rem;
}

.rodape-logos{
    width: 40px;
    margin: 0 0.5rem;
}

.rodape-secao-cartao{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*  Responsividade  */

@media screen and (max-width: 512px){
    /*  MENU  */
    .navbar{
        display: none;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .menu-hamburguer{
        display: inline;
    }

    /*  BANNERS */
    .banner-1, .banner-2{
        background-size: cover;
        height: 40vh;

        display: grid;
    }

    .btn-ver{
        margin: 0 auto 1rem auto;
    }

    /*  TENIS  */
    .tenis{
        padding: 3rem 1rem;
    }

    .tenis-article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 1rem;
    }

    .tenis-article .tenis-card:last-child{
        display: none;
    }

    .tenis-titulo{
        font-size: 1.5rem;
    }

    .tenis-img{
        width: 45vw;
    }

    /*  CONHEÇA TAMBÉM  */
    .conheca{
        display: grid;
        justify-content: center;
        gap: 1rem;
        padding: 2rem 0 2rem 0;
    }

    .conheca-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 0.5rem;
        padding: 0 0 0 0;
    }

    .conheca a{
        margin: 0;
    }

    /*  Rodapé  */
    .rodape{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .rodape-logos{
        width: 30px;
        margin: 0;
    }
}