/* BANNER 1 */
.banner-3{
    height: 55vh;
    background-position: center;
    background-image: url("./imagens/banner-3.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}